.Ubuttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 250px;
}

.ubutton{
    width: 240px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}
.ubuttons-image{
    margin-left: 10px;
}
.ubuttons-text{
    margin-left: 10px;
    font-size: 20px;
    line-height: 25px;
    color: #373737;
}
.ubutton1{
    width: 240px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #b9e2e6;
    display: flex;
    justify-content: start;
    align-items: center;
}
