.Login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
}
.login-container{
    width: 515px;
    height: 460px;
    background-color: rgba(240, 248, 248, 0.8);
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-inner{
    width: 360px;
    height: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
     /* font */
     font-weight: 400;
     line-height: 55px;
     font-size: 20px;
}
.login-down{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 230px;
    
}
input{
    width: 350px;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    text-indent: 10px;
    color: #474747;
    border: 1px solid #333333;
}
.login-button{
    background-color: #b9e2e6;
    color: #373737;
    width: 350px;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    text-indent: 10px;
    border: none;
}
.eye-button{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -45px;
    left: 300px;
    background: none;
    border: none;
}
.eye-button:hover{
    cursor: pointer;
}
.eye-icon{
    width: 30px;
}
.password-input-container{
    height: 57px;
}