.Header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    font-size: 20px;
    font-weight: 400px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #373737;
}

.nav-link:hover{
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    

}
.header-logo{
    margin-left: 50px;
}

.header-logo-text{
    color: black;   
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
}
.header-person{
    margin-right: 50px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.person-icon{
    margin-right: 5px;
}