.Search{
    margin-bottom: 30px;
    width: 620px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
}
.search-inner{
    margin-left: 20px;
    display: flex;
    width: 89px;
    justify-content: space-between;
}
.search-text{
    font-size: 18px;
    line-height: 22px;
    color: #474747;
    outline: none;
    border: none;
}