.Transaction{
    margin-bottom: 20px;
    width: 620px;
    height: 90px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.transaction-center{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.transaction-left{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border-radius: 8px;
    background-color: #ECEDED;
}
.transaction-header{
    font-size: 20px;
    font-weight: 900px;
    color: #373737; 
}
.transaction-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.transaction-description-text{
    color: #373737;
}
.transaction-right{
    margin-right: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 22px;
    line-height: 28px;
}
.transaction-output{
    color: red;
}